<div class="tache">
    <h1>Tâche 1 :</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio velit eius, 
        tempora temporibus nesciunt expedita inventore possimus numquam id alias nobis 
        doloremque labore fuga mollitia dolorem quaerat earum maiores illum!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur debitis 
        quasi officia architecto incidunt consectetur reiciendis ratione, dolore nisi 
        cupiditate impedit, fugiat libero velit fuga. Est dolores distinctio perspiciatis
         architecto.
    </p>
</div>
