<!--<h4 *ngIf="true">Liste des livres</h4>

<div *ngIf="true" class="books">
  <table  style="border: 2px solid;">
    <thead >
    <td>Titre</td>
    <td>Price</td>
    <td>Description</td>
  </thead>
  <tbody *ngFor="let book of books; let i = index">
    <td>{{ book.title}}</td>
    <td>{{book.price}}</td>
    <td>{{book.description}}</td>
  </tbody>
</table>
</div>-->
<h4>Liste des livres</h4>

<button (click)="onTest()">TEST</button>
<input type="text" (input)="onInput($event)" >

<p *ngIf="userInput">Saisie utilisateur:{{userInput}}</p>

<div class="books">
  <ul>
    <li *ngFor="let book of books">
      {{ book.title }} ({{ book.price }} €)
    </li>
  </ul>
  
</div>