/* You can add global styles to this file, and also import other style files */
body {
    font-family: sans-serif;
    color: #444;
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    color: red;
  }
  
  h1 {
    margin: 0;
    text-align: center;
  }