<select #selectTag (change)="onPizzaSelected(selectTag.value)">
    <option>Choisir une pizza</option>
    <option *ngFor="let pizza of pizzas" [value]="pizza.name">{{ pizza.name |titlecase }}</option>
  </select>
  
  <div *ngIf="pizza">
    <h3>Votre choix:
      <span [style.color]="pizza.category == 'crème'? 'bisque' : 'tomato'">
        {{ pizza.name |titlecase }}
      </span>
    </h3>
    <strong>Ingrédients →</strong>
    <span *ngFor="let ingredient of pizza.ingredients; last as last">
      {{ ingredient }}<span *ngIf="!last">,</span>
    </span>
  </div>